<ion-header class="ion-no-border">
  <ion-toolbar slot="start">
    <ion-title>
      <div class="flex-container">
      <div>Home</div>
      <div (click)="dataHelper.logout()"><ion-icon name="log-out" slot="end"></ion-icon></div>
      </div>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
