// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {

    --ion-font-family: 'Poppins', sans-serif !important;
    --primary-color:#06406E;
    --secondary-color:#24A9DE;
}